<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Conatct</title>
    <link rel="stylesheet" href="/Style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Our Services</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
    <h1>Welcome to our website!</h1>
    <p>We provide top-quality services to our clients. Contact us to learn more.</p>
  </body>
</html>
